.login_rect {
    margin: auto;
    width: 469px;
    height: 523px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FEFEFE;
    border-radius: 33px;
    box-shadow: 0 15px 30px -2px rgba(0, 0, 0, 0.04);
}

.login_form {
    margin-top: 15px;
    margin-left: 60px;
    margin-right: auto;
    margin-bottom: 28px;
}

.login_label {
    text-align: left;
    margin-right: auto;
    display: block;
    padding-top: 30px;
    padding-bottom: 14px;
    font-family: Pretendard-Regular;
    font-size: 18px;
    color: #747474;
}

.user_input {
    width: 335px;
    height: 55px;
    font-family: Pretendard-Regular;
    font-size: 18px;
    border-style: solid;
    border-color: #D2D2D2;
    border-width: 0.3px;
    border-radius: 10px;
    padding-left: 10px;
}

.user_input:hover {
    border-style: solid;
    border-color: #579AFF;
    border-width: 0.3px;   
}

.user_input:focus {
    outline: none;
    border-style: solid;
    border-color: #579AFF;
    border-width: 0.3px;
}

.login_button {
    width: 335px;
    height: 56px;
    margin-top: 28px;
    border-radius: 10px;
    background-color: #0066FF;
    border-style: none;
    font-family: Pretendard Variable;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0, 0, 0, 4.5px;
    color: white;
    text-align: center;
}

.login_button:hover {
    background-color: #1472FF;
}

.login_button:active {
    background-color: #0057D9;
}

.welcome_label {
    margin-top: 53px;
    text-align: top;
    font-family: Pretendard Variable;
    font-weight: light;
    font-size: 38px;
    letter-spacing: 3%;
}

#to_signup {
    all: unset;
    color: #4A4A4A;
    font-family: Pretendard Regular;
    font-weight: normal;
    font-size: 15px;
    text-decoration: underline;
}

#to_signup:hover {
    color: #818181;
}

#signup {
    margin-right: auto;
    margin-left: 60px;
    display: flex;
    align-items: flex-start;
}